<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>

        <div class="col-lg-6 d-flex align-items-stretch">
            <div class="card w-100 position-relative overflow-hidden">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold">Change Password</h5>
                    <p class="card-subtitle mb-4">To change your password please confirm here</p>
                    <form th:action="@{/users/change-password}" method="post">
                        <div class="mb-4">
                            <label for="currentPassword" class="form-label fw-semibold">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" required/>
                        </div>
                        <div class="mb-4">
                            <label for="newPassword" class="form-label fw-semibold">New Password</label>
                            <input type="password" class="form-control" id="newPassword" required/>
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputPassword3" class="form-label fw-semibold">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword3" required/>
                        </div>
                        
                        <input type="submit" value="Change Password"/>
                    </form>
                </div>
            </div>
        </div>
        
    </body>

</html>
