<!DOCTYPE html>
<html lang="zxx" xxmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/users/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Hiroto Template">
        <meta name="keywords" content="Hiroto, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hotel|Lat|Loi - Blog-details</title>

        <!-- Css Styles -->
        <link rel="stylesheet" th:href="@{/users/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/font-awesome.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/elegant-icons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/nice-select.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/jquery-ui.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/owl.carousel.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/slicknav.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/style.css}" type="text/css">
    </head>

    <body>
        <div layout:fragment="content">
            <!-- Page Preloder -->
            <div id="preloder">
                <div class="loader"></div>
            </div>





            <!-- Blog Hero Begin -->
            <section class="blog-hero spad set-bg" th:data-setbg="@{/users/img/blog/details/details-bg.jpg}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 text-center">
                            <div class="blog__hero__text">
                                <div class="tag">Travel</div>
                                <h2>Six Senses Douro Valley to add guestrooms suites and event space</h2>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> 03th March, 2019</li>
                                    <li><i class="fa fa-user"></i> By John Smith</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog Hero End -->

            <!-- Blog Details Section Begin -->
            <section class="blog-details spad">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10">
                            <div class="blog__details__content">
                                <div class="blog__details__text">
                                    <p>The young woman who turned a style setback into an envious outfit has officially inspired
                                        a major clothing retailer with her impromptu ingenuity. Online retailer
                                        PrettyLittleThing has officially started selling a pink-and-white jumpsuit inspired by
                                        the 19-year-old Eleanor Walton, who went viral for spontaneously dyeing her own
                                        PrettyLittleThing jumpsuit pink in order to hide a wine stain.</p>
                                    <p>Walton’s flair for fashion began making headlines earlier this month, after she and
                                        several friends visited the Ripton Races racetrack in North Yorkshire, England, and a
                                        stranger accidentally bumped into her, causing her to spill red wine all over her white
                                        jumpsuit. Instead of going home or changing, Walton and her friend Mia Williamson, 18,
                                        came up with another idea entirely: Dye the rest of her outfit pink to match — using
                                        more red wine.</p>
                                    <p>PrettyLittleThing soon took notice, too, and gave Walton a shout-out on Twitter, much to
                                        Walton’s delight.</p>
                                </div>
                                <div class="blog__details__pic">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 p-0">
                                                    <img th:src="@{/users/img/blog/details/details-1.jpg}" alt="">
                                                </div>
                                                <div class="col-lg-6 col-md-6 p-0">
                                                    <img th:src="@{/users/img/blog/details/details-2.jpg}" alt="">
                                                </div>
                                                <div class="col-lg-12 col-md-12 p-0">
                                                    <img th:src="@{/users/img/blog/details/details-3.jpg}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 p-0">
                                                    <img th:src="@{/users/img/blog/details/details-4.jpg}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__details__desc">
                                    <div class="blog__details__desc__item">
                                        <h4>1. Follow us on facebook for more fox lifestyle news</h4>
                                        <p>And now, the retailer is selling a jumpsuit directly inspired by Walton’s, calling it
                                            the “Burgundy Tie Dye Scuba High Neck Tie Waist Jumpsuit.”</p>
                                        <p>“It’s every girl’s worst nightmare when you’ve pulled together a killer look and
                                            you’re in fear of spilling red wine down yourself,” PrettyLittleThing added in a
                                            press release for the item. “Instead of letting it ruin her day, herself and her
                                            friends DIY’d her new look, by soaking another 4 glasses of red wine on her
                                            jumpsuit, turning this into the look of the summer!”</p>
                                    </div>
                                    <div class="blog__details__desc__item">
                                        <h4>2. Click here to get the Fox News app</h4>
                                        <p>A representative for PrettyLittleThing was not immediately available to expand on the
                                            details of its and Walton’s collaboration or partnership, if any, but did confirm
                                            that both Walton and Williamson “will be visiting our Manchester HQ where they
                                            [will] be spoiled and of course given the PLT treatment.”</p>
                                    </div>
                                </div>
                                <div class="blog__details__widget">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="blog__details__tags">
                                                <a href="#">Hotel</a>
                                                <a href="#">Restaurant</a>
                                                <a href="#">Tips</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="blog__details__share">
                                                <span>Share:</span>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                                <a href="#"><i class="fa fa-instagram"></i></a>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__details__comment">
                                    <h3>2 Comments</h3>
                                    <div class="blog__details__comment__item">
                                        <div class="blog__details__comment__item__pic">
                                            <img th:src="@{/users/img/blog/details/comment-1.png}" alt="">
                                        </div>
                                        <div class="blog__details__comment__item__text">
                                            <span>01th March, 2019</span>
                                            <h5>Brandon Kelley</h5>
                                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et
                                                dolore magnam.</p>
                                            <a href="#">LIKE</a>
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                    <div class="blog__details__comment__item blog__details__comment__item--reply">
                                        <div class="blog__details__comment__item__pic">
                                            <img th:src="@{/users/img/blog/details/comment-2.png}" alt="">
                                        </div>
                                        <div class="blog__details__comment__item__text">
                                            <span>01th March, 2019</span>
                                            <h5>Brandon Kelley</h5>
                                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et
                                                dolore magnam.</p>
                                            <a href="#">LIKE</a>
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                    <div class="blog__details__comment__item">
                                        <div class="blog__details__comment__item__pic">
                                            <img th:src="@{/users/img/blog/details/comment-3.png}" alt="">
                                        </div>
                                        <div class="blog__details__comment__item__text">
                                            <span>01th March, 2019</span>
                                            <h5>Brandon Kelley</h5>
                                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et
                                                dolore magnam.</p>
                                            <a href="#">LIKE</a>
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__details__comment__form">
                                    <h3>Leave A Comment</h3>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="text" placeholder="Name">
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" placeholder="Email">
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Website">
                                        <textarea placeholder="Messages"></textarea>
                                        <button type="submit">Send Messages</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog Details Section End -->

            <!-- Fetured Blog Section Begin -->
            <section class="feature-blog spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title bd-title">
                                <h2>Feature Blog</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img th:src="@{/users/img/blog/blog-6.jpg}" alt="">
                                    <div class="tag">Hotel</div>
                                </div>
                                <div class="blog__item__text">
                                    <p><i class="fa fa-clock-o"></i> 01th March, 2019</p>
                                    <h5><a href="#">Smart HVAC Solutions Keep It</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img th:src="@{/users/img/blog/blog-1.jpg}" alt="">
                                    <div class="tag">Event</div>
                                </div>
                                <div class="blog__item__text">
                                    <p><i class="fa fa-clock-o"></i> 02th March, 2019</p>
                                    <h5><a href="#">Guests think these services would be</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img th:src="@{/users/img/blog/blog-2.jpg}" alt="">
                                    <div class="tag">Travel</div>
                                </div>
                                <div class="blog__item__text">
                                    <p><i class="fa fa-clock-o"></i> 03th March, 2019</p>
                                    <h5><a href="#">Europe's 2018 hotel strengths belie</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fetured Blog Section End -->

        </div>

        <!-- Js Plugins -->
        <script th:src="@{/users/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/users/js/bootstrap.min.js}"></script>
        <script th:src="@{/users/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/users/js/jquery-ui.min.js}"></script>
        <script th:src="@{/users/js/jquery.slicknav.js}"></script>
        <script th:src="@{/users/js/owl.carousel.min.js}"></script>
        <script th:src="@{/users/js/main.js}"></script>
    </body>

</html>