<!DOCTYPE html>
<html lang="zxx" xxmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/users/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Hiroto Template">
        <meta name="keywords" content="Hiroto, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hotel|Lat|Loi - Rooms</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" th:href="@{/users/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/font-awesome.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/elegant-icons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/nice-select.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/jquery-ui.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/owl.carousel.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/slicknav.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/users/css/style.css}" type="text/css">
    </head>

    <body>
        <div layout:fragment="content">
            <!-- Page Preloder -->
            <div id="preloder">
                <div class="loader"></div>
            </div>



            <!-- Breadcrumb Begin -->
            <div class="breadcrumb-option set-bg" th:data-setbg="@{/users/img/breadcrumb-bg.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumb__text">
                                <h1>Our Room</h1>
                                <div class="breadcrumb__links">
                                    <a th:href="@{/user/home/all}">Home</a>
                                    <span>Rooms</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->

            <!-- Rooms Section Begin -->
            <section class="rooms spad">
                <div class="container">
                    <div class="row" th:each="item : ${allRoomList}">
                        <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                            <div class="room__pic__slider owl-carousel">
                                <div class="room__pic__item set-bg" th:data-setbg="@{/users/img/rooms/room-1.jpg}"></div>
                                <div class="room__pic__item set-bg" th:data-setbg="@{/users/img/rooms/room-2.jpg}"></div>
                                <div class="room__pic__item set-bg" th:data-setbg="@{/users/img/rooms/room-3.jpg}"></div>
                                <div class="room__pic__item set-bg" th:data-setbg="@{/users/img/rooms/room-4.jpg}"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0 order-lg-1 order-md-1 col-md-6">
                            <div class="room__text" >

                                <h3 th:text="${item.room_type_info.room_type_name}"></h3>
                                <h5><sup style="font-size: 20px">$  </sup><span style="color: goldenrod" th:text="${item.room_price}"></span><i>  /day</i></h5>
<!--                                <h4><span>Descriptions :</span>&emsp;<sup th:text="${item.room_description}"></sup></h4>
                                <h4><sup>Stat :</sup>&emsp;<span th:text="${item.room_type_info.room_type_name}"></span></h4>-->
                                <br/>
                                <ul>
                                    <li><span>Descriptions:</span><i th:text="${item.room_description}"></i></li>
                                    <li><span >Status:</span><i th:text="${item.booking_status_info.booking_status_name}"></i></li>
                                    <li><span>Capacity:</span><i th:text="${item.room_capacity}"></i></li>
                                    <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                                </ul>
                                <a th:href="@{/user/room/{roomId}/details(roomId=${item.id})}">View Details</a>

                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination__number">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">Next <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Rooms Section End -->

        </div>
        <!-- Js Plugins -->
        <script th:src="@{/users/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/users/js/bootstrap.min.js}"></script>
        <script th:src="@{/users/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/users/js/jquery-ui.min.js}"></script>
        <script th:src="@{/users/js/jquery.slicknav.js}"></script>
        <script th:src="@{/users/js/owl.carousel.min.js}"></script>
        <script th:src="@{/users/js/main.js}"></script>
    </body>

</html>