  <!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/users/layout">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Hiroto Template"/>
        <meta name="keywords" content="Hiroto, unica, creative, html"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Hotel Management - Booking Room Detail</title>

        <link rel="stylesheet" th:href="@{/users/css/bootstrap.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/font-awesome.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/elegant-icons.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/nice-select.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/jquery-ui.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/owl.carousel.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/slicknav.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/users/css/style.css}" type="text/css"/>
        <style>
            table{
                border: none;
                font-size: 16px;
                height: 270px;
                width: 80%;
            }
            .form__input{
                width: 50%;
                border:0px solid transparent;
                border-radius: 0;
                border-bottom: 1px solid #aaa;
                /*padding: 1em .5em .5em;*/
                padding-left: 2em;
                outline:none;
                margin:1.5em auto;
                transition: all .5s ease;
            }
            .form__input:focus{
                border-bottom-color: #008080;
                box-shadow: 0 0 1px rgba(0,80,80,.4);
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <div id="preloder">
                <div class="loader"></div>
            </div>

            <div class="breadcrumb-option set-bg" th:data-setbg="@{/users/img/breadcrumb-bg.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumb__text">
                                <h1>Room Booking Detail</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="room-details spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="room__details__content" >
                                <form action="#" th:action="@{http://localhost:8888/client/customer/roomcontroller/customercreatebooking?userId={userId}(userId=${userId})}" th:object="${newBookingDto}" method="POST">
                                    <input type="hidden" th:field="*{customer_id}">
                                        <input type="hidden" th:field="*{room_id}">
                                            <div class="row">
                                                <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                                                    <div class="room__pic__slider owl-carousel">
                                                        <img th:src="*{room_info.room_image}" alt="alt"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 p-0 order-lg-1 order-md-1 col-md-6">
                                                    <div class="room__text" >
                                                        <h3 th:text="*{room_info.room_no}"></h3>
                                                        <h2><sup>$</sup><span style="color: goldenrod; font-size: 30px" th:text="*{room_info.room_price}"></span><span>/day</span></h2>
                                                        <!--                                <h4><span>Descriptions :</span>&emsp;<sup th:text="${item.room_description}"></sup></h4>
                                                                                        <h4><sup>Stat :</sup>&emsp;<span th:text="${item.room_type_info.room_type_name}"></span></h4>-->
                                                        <br/>
                                                        <ul>
                                                            <li><span>Booking From      : </span><input readonly type="text" th:field="*{booking_from}" class="form__input"></li>
                                                            <li><span>Booking To        : </span><input readonly type="text" th:field="*{booking_to}" class="form__input"></li>
                                                            <li><span>Members           : </span><input readonly type="number" th:field="*{number_of_member}" class="form__input"></li>

                                                            <li><span>Total Day         : </span><i th:text="*{total_day}"></i></li>
                                                            <li><span>Total Price       : </span><i th:text="*{total_price}"></i></li>
                                                            <li><span>Room Type         : </span><i th:text="*{room_info.room_type_info.room_type_name}"></i></li>
                                                            <li><span>Room Price        : </span><i th:text="*{room_info.room_price}"></i></li>
                                                            <!--<li><span >Status:</span><i th:text="${item.booking_status_info.booking_status_name}"></i></li>-->
                                                            <!--<li><span>Capacity:</span><i th:text="${roomDetail.room_capacity}"></i></li>-->
                                                            <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                                                        </ul>
                                                        <!--<a th:href="@{/client/customer/roomcontroller/details?userId={userId}&roomId={roomId}(userId=${userId},roomId=${item.id})}">View Details</a>-->
                                                        <!--<a th:href="@{/client/customer/roomcontroller/gotobooking?userId={userId}&roomId={roomId}(userId=${userId},roomId=${roomDetail.id})}" style="background-color: goldenrod; padding: 10px; border-radius: 10px; color: white;" class="primary-btn">Confirm and Create Booking</a>-->

                                                        <input style="background-color: goldenrod; padding: 10px; border: none; border-radius: 10px; color: white;" class="primary-btn" type="submit" value="Confirm Your Booking">
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </section>

                                            <!--            <form action="#" th:action="@{http://localhost:8888/client/customer/roomcontroller/customercreatebooking?userId={userId}(userId=${userId})}" th:object="${newBookingDto}" method="POST">
                                                            <input type="text" th:field="*{booking_from}"><br>
                                                            <input type="text" th:field="*{booking_to}"><br>
                                                            <input type="number" th:field="*{number_of_member}"><br>
                                                            <input type="text" th:field="*{customer_id}"><br>
                                                            <input type="text" th:field="*{room_id}"><br>
                                                            <div>
                                                                <p>Total day: <span th:text="*{total_day}"></span></p>
                                                                <p>Total price: <span th:text="*{total_price}"></span></p>
                                                                <p>Customer name: <span th:text="*{customer_info.username}"></span></p>
                                                                <p>Customer phone: <span th:text="*{customer_info.phone}"></span></p>
                                                                <p>Room No: <span th:text="*{room_info.room_no}"></span></p>
                                                                <p>Room Price: <span th:text="*{room_info.room_price}"></span></p>
                                                                <p>Room Type: <span th:text="*{room_info.room_type_info.room_type_name}"></span></p>
                                                            </div>
                                            
                                                            <input type="submit" value="Confirm and Create Booking">
                                                        </form>-->
                                            </div>

                                            <script th:src="@{/users/js/jquery-3.3.1.min.js}"></script>
                                            <script th:src="@{/users/js/bootstrap.min.js}"></script>
                                            <script th:src="@{/users/js/jquery.nice-select.min.js}"></script>
                                            <script th:src="@{/users/js/jquery-ui.min.js}"></script>
                                            <script th:src="@{/users/js/jquery.slicknav.js}"></script>
                                            <script th:src="@{/users/js/owl.carousel.min.js}"></script>
                                            <script th:src="@{/users/js/main.js}"></script>
                                            </body>
                                            </html>
